<br><h2>New Ticket</h2>
<br><h3>Please enter your new ticket information below:</h3>
<br><br><form 
    id="add-ticket-form" 
    action="/tickets" 
    method="POST">
  <label>Seat:</label>
  <input type="text" name="seat">
  <label>Price:</label>
  <input type="text" name="price">
  <label>flight:</label>
  <input type="text" name="flight">
  <input type="submit" value="Add Ticket">
</form>
